* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #100e1d;
}

#main {
  display: flex;
  color: white;
  background: #100e1d;
}
@media (max-width: 60.3125rem) {
  #main {
    flex-direction: column;
  }
}

.spinner-container {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.spinner-container .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #333;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-container {
  padding: 3.25rem 5.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
@media (max-width: 60.3125rem) {
  .card-container {
    padding: 3.25rem 6.4rem;
    justify-content: center;
  }
}
@media (max-width: 34.375rem) {
  .card-container {
    justify-content: center;
    padding-inline: 2rem;
  }
}

.card {
  width: 150px;
  padding: 1.125rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1e213a;
}
@media (max-width: 60.3125rem) {
  .card {
    justify-content: center;
  }
}
@media (max-width: 25.5rem) {
  .card {
    width: 200px;
  }
}
.card img {
  width: 7.5rem;
  margin: 0.625rem 0 1.875rem 0;
}
.card div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card .night {
  color: #88869d;
}

.highlights {
  padding: 0 5.5rem 3.25rem 5.5rem;
}
.highlights h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

.main-weather {
  width: 370px;
  background-color: #1e213a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2rem;
}
@media (max-width: 60.3125rem) {
  .main-weather {
    width: 100%;
  }
}
.main-weather__details {
  padding-top: 5rem;
  text-align: center;
}
.main-weather__details .weather-main-icon {
  width: 100%;
  padding-inline: 4rem;
  object-fit: fill;
}
.main-weather__details .weather-main-icon img {
  width: 10rem;
  object-fit: cover;
}
@media (max-width: 60.3125rem) {
  .main-weather__details {
    padding-bottom: 2rem;
  }
}
.main-weather__details .weather-status {
  color: #a09fb1;
  font-weight: 600;
  font-size: 2.25rem;
  text-transform: capitalize;
}
.main-weather__search-area {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
@media (max-width: 60.3125rem) {
  .main-weather__search-area {
    justify-content: space-between;
    padding-inline: 2rem;
  }
}
.main-weather__search-area input {
  background: #6e707a;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  padding: 0.5rem;
  outline: none;
}
.main-weather__search-area input::placeholder {
  transform: translateY(20deg);
  color: white;
}
.main-weather__search-area .icon {
  background-color: #6e707a;
  padding: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-weather__celcius {
  font-size: 6rem;
  font-weight: 500;
  margin-block: 2rem;
}
.main-weather__celcius .gray {
  font-size: 4rem;
  color: #88869d;
  cursor: pointer;
}
.main-weather .date {
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem 0;
  font-weight: 500;
  font-size: 1.25rem;
  color: #88869d;
}
.main-weather .date span {
  margin-inline: 1rem;
}
.main-weather .location {
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
  color: #88869d;
}
.main-weather .location i {
  font-weight: 900;
  margin-right: 0.5626rem;
}

.highlights-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  color: #e7e7eb;
  text-decoration: none solid #e7e7eb;
}
@media (max-width: 40.625rem) {
  .highlights-container {
    display: flex;
    flex-direction: column;
  }
}
.highlights-container .highlight {
  background-color: #1e213a;
  text-align: center;
  padding: 1.375rem;
  margin-top: 2rem;
}
.highlights-container .highlight p {
  padding: 1rem;
}
.highlights-container .highlight .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.highlights-container .highlight .flex p {
  padding: 0;
}
.highlights-container .highlight .flex span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background: #6e707a;
}
.highlights-container .highlight .flex span i {
  font-size: 12px;
}
.highlights-container .highlight h2 {
  font-size: 4rem;
}
@media (max-width: 25rem) {
  .highlights-container .highlight h2 {
    font-size: 2rem;
  }
}
.highlights-container .highlight h2 span {
  font-weight: 500;
  font-size: 2.25rem;
}
@media (max-width: 25rem) {
  .highlights-container .highlight h2 span {
    font-size: 2rem;
  }
}
.highlights-container .highlight h2 .bold {
  font-weight: 700;
  font-size: 4rem;
}
@media (max-width: 25rem) {
  .highlights-container .highlight h2 .bold {
    font-size: 2rem;
  }
}

.humidity-status {
  margin-top: 2rem;
  color: #a09fb1;
  font-weight: 700;
}
.humidity-status .mark {
  display: flex;
  justify-content: space-between;
  color: #a09fb1;
}
.humidity-status > .percent {
  text-align: right;
}
.humidity-status .progress-bar {
  width: 100%;
  height: 10px;
  background: #e7e7eb;
  border-radius: 80px;
}
.humidity-status .progress-bar > .range {
  height: 100%;
  border-radius: 80px;
  background: #ffec65;
}

/*# sourceMappingURL=style.css.map */
