.main-weather {
  width: 370px;
  background-color: #1e213a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2rem;

  &__details {
    padding-top: 5rem;
    text-align: center;

    & .weather-status {
      color: #a09fb1;
      font-weight: 600;
      font-size: 2.25rem;
    }
  }
  &__search-area {
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    & input {
      background: #6e707a;
      border: none;
      color: white;
      font-size: 1rem;
      border-radius: 20px;
      padding: 0.5rem;
      outline: none;
      &::placeholder {
        transform: translateY(20deg);
        color: white;
      }
    }
    & .icon {
      background-color: #6e707a;
      padding: 1rem;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  &__celcius {
    font-size: 6rem;
    font-weight: 500;
    margin-block: 2rem;

    & .gray {
      font-size: 4rem;
      color: #88869d;
      cursor: pointer;
    }
  }
  & .date {
    display: flex;
    justify-content: center;
    margin: 3rem 0 2rem 0;
    font-weight: 500;
    font-size: 1.25rem;
    color: #88869d;

    & span {
      margin-inline: 1rem;
    }
  }

  & .location {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    color: #88869d;
    & i {
      font-weight: 900;
      margin-right: 0.5626rem;
    }
  }
}

.highlights-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  color: #e7e7eb;
  text-decoration: none solid rgb(231, 231, 235);

  & .highlight {
    background-color: #1e213a;
    text-align: center;
    padding: 1.375rem;
    margin-top: 2rem;

    & p {
      padding: 1rem;
    }
    & .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;

      & p {
        padding: 0;
      }
      & span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;

        background: #6e707a;
        & i {
          font-size: 12px;
        }
      }
    }
    h2 {
      font-size: 4rem;
      span {
        font-weight: 500;
        font-size: 2.25rem;
      }
      & .bold {
        font-weight: 700;
        font-size: 4rem;
      }
    }
  }
}

.humidity-status {
  margin-top: 2rem;
  color: #a09fb1;

  .mark {
    display: flex;
    justify-content: space-between;
    color: #a09fb1;
    font-weight: 700;
  }

  & > .percent {
    text-align: right;
  }

  & .progress-bar {
    width: 100%;
    height: 10px;
    background: #e7e7eb;
    border-radius: 80px;
    & > .range {
      width: 84%;
      height: 100%;
      border-radius: 80px;
      background: #ffec65;
    }
  }
}
